@using Microsoft.AspNetCore.Http;
@using e_mobile_shop.Models.Helpers;
@using e_mobile_shop.Models.Repository.MobileShopRepository;
@inject e_mobile_shop.Models.Repository.DataExcuteRepository.IDataAccess DataAccess;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheGioiCongNghe</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <!-- menu style -->
    <!-- //Custom-Files -->

    <link href="~/css/comment_area.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web fonts -->

</head>

<body>

    <header>
        <!-- Template navbar-->
        <!-- top-header -->
        <div class="agile-main-top">
            <div class="container-fluid">
                <div class="row main-top-w3l py-2">
                    <div class="col-lg-4 header-most-top">
                        <p class="text-white text-lg-left text-center">
                            Đưa bạn vào thế giới công nghệ
                        </p>
                    </div>
                    <div class="col-lg-8 header-right mt-lg-0 mt-2">
                        <!-- header lists -->
                        <ul>


                            <li class="text-center border-right text-white">
                                <i class="fas fa-phone mr-2"></i> 0988776599
                            </li>
                            <li class="text-center border-right text-white">
                                <a class="text-white" asp-action="Index" asp-controller="Admin"> <i class="fas fa-user-cog"></i> Admin </a>
                            </li>

                            <partial name="_LoginPartial" />


                        </ul>
                        <!-- //header lists -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal(select-location) -->
        <!-- //shop locator (popup) -->
        <!-- //top-header -->
        <!-- header-bottom-->
        <div class="header-bot">
            <div class="container">
                <div class="row header-bot_inner_wthreeinfo_header_mid">
                    <!-- logo -->
                    <div class="col-md-3 logo_agile">
                        <h1 class="text-center">
                            <a href=@Url.Action("Index", "Home") class="font-weight-bold font-italic">
                                <img src="~/images/logo2.png" alt=" " class="img-fluid p-3">thegioicongnghe
                            </a>
                        </h1>
                    </div>
                    <!-- //logo -->
                    <!-- header-bot -->
                    <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                        <div class="row">
                            <!-- search -->
                            <div class="col-10 agileits_search">
                                <form class="form-inline" asp-action="Filter" asp-controller="Home" method="get">
                                    <input name="tenSp" class="form-control mr-sm-2" type="search" placeholder="Bạn muốn tìm gì" aria-label="Search" required>
                                    <button class="btn my-2 my-sm-0" type="submit">Tìm</button>
                                </form>
                            </div>
                            <!-- //search -->
                            <!-- cart details -->
                            <div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
                                <a class="btn w3view-cart p-0" asp-controller="GioHang" asp-action="XemGioHang" name="submit" value="">

                                    <i style="font-size: 30px" class="fas fa-cart-arrow-down"></i>
                                    @{
                                        if ( DataAccess!= null)
                                        {
                                            <span> @DataAccess.getSoCtdh()</span>
                                        }
                                        else
                                        {
                                            <span>0</span>
                                        }
                                    }
                                </a>

                            </div>
                            <!-- //cart details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop locator (popup) -->
        <!-- //header-bottom -->
        <!-- navigation -->
        <div class="navbar-inner">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="agileits-navi_search">
                        <form action="#" method="post">
                            <div id="agileinfo-nav_search" name="agileinfo_search" class="border dropdown p-1" required="">
                                <button style="font-size: 15px;" class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="drmn" value="">Danh mục Sản phẩm</button>
                                <div class="dropdown-menu" style="width: 100%; border-radius: 0px; background-color: #F8F9FA" aria-labeledby="drmn">
                                    @foreach (var item in new MobileShopRepository(new ClientDbContext()).ReadLoaiSp())
                                    {
                                        <a type="button" style="text-align: left; border-radius: 0px;" class="btn btn-block p-0 " asp-action="DanhSach" asp-controller="SanPham" asp-route-id="@item.MaLoai">
                                            <p style="color: black" class="p-2">@item.TenLoai</p>
                                        </a>
                                    }
                                    <a type="button" style="text-align: left; border-radius: 0px;" class="btn btn-block p-0 " asp-action="Filter" asp-controller="Home">
                                        <p style="color: black;" class="p-2">Tất cả sản phẩm</p>
                                    </a>
                                </div>

                            </div>
                        </form>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto text-center mr-xl-5">
                            <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">
                                    Trang chủ
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                                <a class="nav-link " asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0002" role="button" aria-haspopup="true" aria-expanded="false">
                                    Điện thoại
                                </a>

                            </li>
                            <li class="nav-item  mr-lg-2 mb-lg-0 mb-2">
                                <a class="nav-link " asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0007" role="button" aria-haspopup="true" aria-expanded="false">
                                    Máy tính bảng
                                </a>

                            </li>
                            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                                <a class="nav-link" asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0008">Laptop</a>
                            </li>
                            <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phụ kiện</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0001">Tai nghe</a>
                                    <a class="dropdown-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0003">Thẻ nhớ</a>
                                    <a class="dropdown-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0004">Cáp sạc</a>
                                    <a class="dropdown-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0005">Ốp lưng</a>

                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Contact">Hỗ trợ </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
        <!-- End template navbar-->
    </header>
    @RenderBody()


    <!-- footer -->
    <footer>
        <div class="footer-top-first">
            <div class="container py-md-5 py-sm-4 py-3">
                <!-- footer first section -->
                <h2 class="footer-top-head-w3l font-weight-bold mb-2">Về chúng tôi :</h2>
                <p class="footer-main mb-4">
                    Sứ mệnh của chúng tôi là cung cấp những dịch vụ tốt nhất, các sản phẩm có chất lượng tốt nhất và phù hợp nhất với
                    nhu cầu của khách hàng. Bên cạnh đó, với dịch vụ chăm sóc khách hàng tận tâm, thân thiện sẽ làm hài lòng quý khách
                    cho dù quáy khách là mẫu người khó tính nhất.
                </p>
                <!-- //footer first section -->
                <!-- footer second section -->
                <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-dolly"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Giao hàng miễn phí</h3>
                                <p>hóa đơn trên 400k</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer my-md-0 my-4">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Vận chuyển nhanh</h3>
                                <p>khắp 63 tỉnh thành</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Top 10</h3>
                                <p>công ty bán lẻ hàng đầu</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //footer second section -->
            </div>
        </div>
        <!-- footer third section -->
        <div class="w3l-middlefooter-sec">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- footer categories -->
                    <div class="col-md-3 col-sm-6 footer-grids">
                        <h3 class="text-white font-weight-bold mb-3">Sản phẩm</h3>
                        <ul>
                            <li class="mb-3">
                                <a asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0002">Điện thoại di động </a>
                            </li>
                            <li class="mb-3">
                                <a asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0007">Máy tính bảng</a>
                            </li>
                            <li class="mb-3">
                                <a asp-controller="SanPham" asp-action="DanhSach" asp-route-id="LSP0008">Laptop</a>
                            </li>

                            <li class="mb-3">
                                <a href="#">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer categories -->
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Liên kết</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="#">Về chúng tôi</a>
                            </li>
                            <li class="mb-3">
                                <a asp-controller="Home" asp-action="Contact">Liên hệ</a>
                            </li>
                            <li class="mb-3">
                                <a href="help.html">Website liên quan</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Liên hệ</h3>
                        <ul>
                            <li class="mb-3">
                                <i class="fas fa-map-marker"></i> University of Information Technology, VNU-HCM, HCM City, Viet Nam.
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-mobile"></i> 0857394951
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone"></i> 0937186594
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:thanglequoc1912@gmail.com"> thanglequoc1912@gmail.com</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <div class="footer-grids  w3l-socialmk">
                            <h3 class="text-white font-weight-bold mb-3">Theo dõi chúng tôi tại </h3>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="icon fb" href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon tw" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon gp" href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //quick links -->
                </div>
            </div>

            <!-- //footer third section -->
        </div>

    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                © 2018 Electro Store. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts. | Modified by lqt1912 </a>
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- CSS only -->
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- jquery -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav',
                autoplay: true,
                autoplaySpeed: 2000,
                infinite: true,
            });

            $('.slider-nav').slick({
                slidesToShow: 2,
                slidesToScroll: 2,
                asNavFor: '.slider-for',
                arrows: false,
                dots: false,
                centerMode: true,
                focusOnSelect: true,
                infinite: true,
            });
            $('.slick-brand').slick({
                slidesToShow: 4,
                slidesToScroll: 4,

                arrows: true,
                dots: false,
                centerMode: true,
                focusOnSelect: true,
                infinite: true,
            });

        });
    </script>
    @RenderSection("Scripts", false)

</body>
</html>