@model IEnumerable<e_mobile_shop.Models.DonHang>

@{
    ViewData["Title"] = "DanhSachDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DanhSachDonHang</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDh)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhiVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PtgiaoDich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrangDh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tongtien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDh)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PtgiaoDich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangDh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ghichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                <a asp-controller="GioHang" asp-action="ChiTietDonHang" asp-route-id="@item.MaDh">Chi tiết </a>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
