@using e_mobile_shop.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "XemGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<style>
    td, th { text-align: center; }

    .row {
        margin: 0;
        padding: 0;
    }

    .col-2 { text-align: center; }

    .col-5 { text-align: left; }

    .tooltip {
        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        display: inline-block;
        position: relative;
    }

    /* Tooltip text */

    .tooltip .tooltiptext {
        background-color: black;
        -ms-border-radius: 6px;
        border-radius: 6px;
        color: #fff;
        padding: 5px 0;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        text-align: center;
        visibility: hidden;
        width: 120px;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */

    .tooltip:hover .tooltiptext { visibility: visible; }
</style>

@Html.Partial("_StatusMessages")
<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-2 mt-2">
    <span>G</span>iỏ hàng
</h3>
<div class="container p-0">
    <div class="row pt-1">
        <div class="col-md-8 col-12 p-0 ">
            @for (var i = 0; i < ViewBag.GioHang.Count; i++)
            {
                <div class="row border m-1 ">
                    <div class="col-3 " style="margin: auto; text-align: center">
                        <img src=@Url.Content("~/ProductAvatar/" + DataAccess.GetSanPham(ViewBag.GioHang[i].MaSp).AnhDaiDien) style="max-height: 70px; max-width: 70px;"/>
                    </div>
                    <div class="col-5 ">
                        <div class="p-2">
                            <strong> @DataAccess.GetSanPham(ViewBag.GioHang[i].MaSp).TenSp </strong>
                        </div>
                        <div class="p-2 border d-inline-flex mb-1">
                            <form asp-action="Update" asp-controller="GioHang" method="post" asp-route-id="@i" class=" form-inline">
                                <label class="pr-2"> Số lượng </label>
                                <input disabled name="SoLuong-@i" id="SoLuong+@i" max="10" style="width: 35px" value="@ViewBag.GioHang[i].SoLuong" type="number"/>
                                <button data-toggle="tooltip" data-placement="left" title="Lưu " class="btn btn-primary radius-0 p-1 pl-2 pr-2 ml-2 " id="link-update-@i" style="display: none; font-size: 10px;" type="submit"> Lưu</button>
                            </form>
                            <button data-toggle="tooltip" data-placement="left" title="Chỉnh sửa " onclick="AllowUpdate(@i)" id="btn-update-@i" class="btn btn-outline-primary p-0 pl-2 pr-2 ml-2 radius-0">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-4  d-flex justify-content-around flex-column" style="text-align: right">
                        <div class="p-2">
                            <strong style="font-size: 13px">
                                @((DataAccess.context.SanPham.Find(ViewBag.GioHang[i].MaSp).GiaGoc * ViewBag.GioHang[i].SoLuong).ToString("N0"))
                            </strong>
                        </div>
                        <div class="p-2 d-flex  justify-content-between" style="font-size: 12px">

                            <a class="" asp-action="Remove" asp-controller="GioHang" asp-route-id="i">Xóa</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 col-12 border">
            <div class="row p-2 m-2 " style="border-bottom: 1px dashed black">
                <div class="col-6">
                    Tổng cộng
                </div>
                <div class="col-6">

                    @if (ViewBag.GiaTriDonHang != null)
                    {
                        <span style="color: blue">

                            @ViewBag.GiaTriDonHang.ToString("N0") VNĐ
                        </span>
                    }
                    else
                    {
                        <span> 0 VNĐ</span>
                    }
                </div>
                <div class="col-6">
                    Giảm giá
                </div>
                <div class="col-6">
                    @if (ViewBag.GiamGia != null)
                    {
                        <span style="color: black">

                            @ViewBag.GiamGia.ToString("N0")
                        </span>
                    }
                    else
                    {
                        <span style="color: black">

                            01
                        </span>
                    }
                </div>
                <div class="col-6">
                    Cần thanh toán
                </div>
                <div class="col-6">
                    <strong style="color: red"> @ViewBag.ThanhTien.ToString("N2") VNĐ </strong>
                </div>
            </div>
            <div class="row p-2 m-2" style="border-bottom: 1px dashed black">
                @if (ViewBag.Vouchers != null)
                {
                    foreach (var item in (List<Voucher>) ViewBag.Vouchers)
                    {
                        <div class="col-12 ">

                            <a class="btn btn-block btn-outline-primary mt-2" asp-action="RemoveVoucher" asp-controller="GioHang" asp-route-voucherCode="@item.VoucherCode"> @item.VoucherName</a>
                        </div>
                    }
                }
                <div class="col-12 p-0 m-0">
                    <form asp-action="XemGioHang" name="voucher" onsubmit="return true" method="post" asp-controller="GioHang">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 10%">
                                    <span id="messageVoucher"> </span>
                                </td>
                                <td style="width: 50%">
                                    <input id="voucher" onkeyup="ClearMessageVoucher()" name="voucher" onblur="CheckVoucher()" placeholder="Nhập mã giảm giá" type="text" class="m-2 p-2"/>
                                </td>
                                <td style="width: 40%">
                                    <button class="btn btn-primary radius-0 m-2 p-2" type="submit" id="btnsubmit"> Sử dụng </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            @await Component.InvokeAsync("CheckoutInfo", new {Id = UserManager.GetUserId(User)})
        </div>
    </div>
</div>

<script>
    function ClearMessageVoucher() {
        $("#messageVoucher").html("");
        if ($('#voucher').val() = "") {
            $("#messageVoucher").html("");
        }
    };

    function AllowUpdate(i) {
        var a = document.getElementById("SoLuong+" + i.toString());
        if (a.disabled === true) {
            a.disabled = false;
            $("#btn-update-" + i.toString()).css("display", "none");
            $("#link-update-" + i.toString()).css("display", "block");
        }

    }

    function CheckVoucher() {
        var voucher = $("#voucher").val();
        $.ajax({
            type: "POST",
            url: "/Home/CheckVoucher",
            data: { voucher: voucher },
            success: function(response) {

                var message = $("#messageVoucher");
                var btn_submit = $("#btnsubmit");
                if (response) {
                    message.css("color", "green");
                    message.addClass("fas fa-check-circle p-0 m-0");
                    message.removeClass("fa-times");
                    btn_submit.html("Sử dụng");
                    if (voucher != "") {
                        btn_submit.removeAttr("disabled");
                    } else {
                        btn_submit.attr("disabled", true);
                    }

                } else {
                    message.css("color", "red");
                    message.addClass("fas fa-times p-0 m-0");
                    message.removeClass("fa-check-circle");
                    btn_submit.html("Không khả dụng");
                    btn_submit.attr("disabled", true);
                }
            }
        });
    };
</script>
<script>
    //How this line work???
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>