@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<SanPham>


<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
    <h3 class="heading-tittle  font-italic">@DataAccess.GetLoaiSp(Model[1].LoaiSp) nổi bật </h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-6 product-men mt-5 border p-2 " >
                <div class="men-pro-item simpleCart_shelfItem d-flex justify-content-end flex-column" style="height: 100%">
                    <div class="men-thumb-item text-center" >
                        <img src=@Url.Content("~/ProductAvatar/" +item.AnhDaiDien ) alt=""  class="d-block w-100 p-4">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a asp-controller="SanPham" asp-action="SanPham" asp-route-id="@item.MaSp" class="link-product-add-cart">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-info-product text-center  mt-4">
                        <h4 class="pt-1">
                            <a href="single.html"><span style="font-size: 14px;">@item.TenSp</span></a>
                        </h4>
                        <div class="info-product-price my-2">
                            <span class="item_price">@item.GiaGoc<sup>đ</sup></span>
                            <del>@item.GiaTien<sup>đ</sup></del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                    <input type="hidden" name="amount" value="200.00" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        }


    </div>
</div>