@{
    ViewData["Title"] = "Home Page";
}

@model List<AspNetUsers>

@await Component.InvokeAsync("Banner")
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container-fluid py-xl-4 py-lg-2">

        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->
                    @await Component.InvokeAsync("SanPhamNoiBat", new { Id = "LSP0002" })
                    <!-- //first section -->
                    <!-- second section -->
                    @await Component.InvokeAsync("SanPhamNoiBat", new { Id = "LSP0007" })
                    <!-- //second section -->
                    <!-- third section -->
                    @await Component.InvokeAsync("SanPhamNoiBat", new { Id = "LSP0007" })
                    <!-- //third section -->
                    <!-- fourth section -->
                    @await Component.InvokeAsync("SanPhamNoiBat", new { Id = "LSP0008" })
                    <!-- //fourth section -->
                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                   
                    <br />
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3 text-center">Chọn mức giá </h3>


                        <div class="" style="width:100%; font-weight:bold">
                            @for (int i = 0; i < 9; i = i + 2)
                            {

                                <a class="btn btn-block btn-outline-secondary radius-0 selected-@(i*1000000)-@((i+2)*1000000)"
                                   asp-action="Filter"
                                   asp-controller="Home"
                                   asp-route-loaiSp="@ViewData["LoaiSp"]"
                                   asp-route-tenSp="@ViewData["tenSp"]"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-giaTien="@(i*1000000)-@((i+2)*1000000)">Từ @(i) đến @((i+2)) triệu</a>

                            }
                            <a class="btn btn-block btn-outline-secondary radius-0 selected-@(12000000)-@(120000000)"
                               asp-action="Filter"
                                   asp-controller="Home"
                               asp-route-loaiSp="@ViewData["LoaiSp"]"
                               asp-route-tenSp="@ViewData["tenSp"]"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-giaTien="@(12000000)-@(120000000)">Trên 12 triệu</a>
                        </div>
                        <br />

                        <form style="display:none" asp-action="Filter" method="get">
                            <div class="form-actions no-color">
                                <div class="d-flex" style="font-size: 15px; margin:5px;">
                                    <div class="p-2 pl-0"> Nhập giá tiền </div>
                                    <input class="p-2" style="font-size:10px;" type="text" name="giaTien" value="@ViewData["CurrentFilter"]" />
                                    <button class="ml-1 p-2" style="background:#F45C5D; border: none" type="submit" value=""> Tìm kiếm </button>

                                </div>
                            </div>
                        </form>

                        <br />

                      




                        <div class="left-side py-2 border mt-5">
                            <h3 class="text-center" style="color:black; font-weight:bold;"> Chọn loại sản phẩm </h3>
                            <div>
                                @foreach (var item in DataAccess.ReadLoaiSp())
                                {
                                    <a type="button text-type-sp" style="text-align:left; border-radius:0px;"
                                       asp-action="Filter"
                                       asp-controller="Home"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       asp-route-tenSp="@ViewData["tenSp"]"
                                       asp-route-loaiSp="@item.MaLoai"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]">

                                        <p class="pl-3 ten-loai-sp loaisp-@item.MaLoai"><span style="font-size:10px;" class="fas fa-circle"></span> @item.TenLoai</p>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>
<!-- //top products -->

