@model List<DonHang>

@{
    ViewData["Title"] = "QuanLyDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var context = new ClientDbContext();
    var dataAccess = new DataAccess();
}

<body>
     @Html.Partial("_StatusMessages")
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class=" panel-heading ">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Quản lý đơn hàng</h4>

                    </div>
                  
              
                    <div>

                        <form asp-action="QuanLyDonHang" method="get" asp-controller="Admin">

                            <div class="col-lg-3">
                                <select   id="filter" name="status" class="form-control" asp-items="@(new SelectList(context.TrangThaiDonHang.ToList(),"Id","TenTrangThai"))">
                                    <option value="">Trạng thái</option>
                                </select>
                            </div>
                            <div class="input-group custom-search-form col-lg-5 ">

                                <input name="searchValue" type="text" class="form-control" placeholder="Tìm mã đơn hàng hoặc tên khách hàng ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên khách hàng</th>
                                <th>Trạng thái</th>
                                <th>Thời gian</th>
                                <th>PTGD</th>
                                <th>Tổng tiền</th>
                                <th>Sửa</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td style="vertical-align:middle">@item.MaDh</td>

                                    <td style="vertical-align:middle">@item.HoTen</td>
                                    <td style="vertical-align:middle">@context.TrangThaiDonHang.Find(item.TinhTrangDh).TenTrangThai</td>
                                    <td  style="vertical-align:middle">@item.Ghichu</td>
                                    <td style="vertical-align:middle">@item.PtgiaoDich</td>
                                    <td style="vertical-align:middle">@item.Tongtien</td>
                                    <td style="vertical-align:middle">
                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "ChiTietDonHang","Admin", new {  id = item.MaDh })'">Chi tiết</button>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "ChinhSuaDonHang","Admin", new {  id = item.MaDh })'">Sửa</button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function filter() {
           // var e = document.querySelector('#filter').value;
          //  location.href = '/admin/quanlydonhang/3?status=' + document.querySelector('#filter').value;
            location.href = '@Url.Action("QuanLyDonHang","Admin")' + '?status=' + document.querySelector('#filter').value;
        }
    </script>
</body>
