@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model e_mobile_shop.Models.SanPham
@{
    ViewData["Title"] = "Them";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<style>

    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }

    .img {
        padding-top: 5px;
    }
</style>



<body>
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading text-uppercase text-lg-left">
                Thêm @ViewData["TenLoai"]
            </div>
            <div class="panel-body">
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" asp-for="@Model.Isnew" checked />Sản phẩm mới 
                        </label>
                    </div>
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" asp-for="@Model.Ishot" />Sản phẩm nổi bật
                        </label>
                    </div>
               
                    <form enctype="multipart/form-data" role="form" asp-action="Them" asp-controller="Admin" method="post">

                        <div class="form-group" hidden>
                            <label asp-for="LoaiSp"> Loại sản phẩm </label>
                            <input asp-for="LoaiSp" value="@ViewData["MaLoai"]" />

                        </div>
                        @*<div class="form-group">
            <label asp-for="LoaiSp"> Loại sản phẩm </label>
            <select class="form-control" asp-for="LoaiSp" asp-items="@(new SelectList(DataAccess.ReadLoaiSp(),"MaLoai","TenLoai"))">
            </select>

        </div>*@
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="TenSp">
                                    Tên sản phẩm
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <input class="form-control" asp-for="TenSp">
                                <span asp-validation-for="TenSp"></span>


                            </div>

                            <div class="form-group col-lg-6">
                                <label asp-for="SoLuong">
                                    Số lượng
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <input asp-for="SoLuong" class="form-control">
                                <span asp-validation-for="SoLuong"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 ">
                                <label asp-for="Nsx">
                                    Hãng sản xuất
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <select class="form-control" asp-for="Nsx" asp-items="@(new SelectList(DataAccess.GetNSX(),"MaNsx","TenNsx"))">
                                </select>

                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="MaNcc">
                                    Nhà cung cấp
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <select class="form-control" asp-for="MaNcc" asp-items="@(new SelectList(DataAccess.context.NhaCungCap.ToList(),"MaNcc","TenNcc"))">
                                </select>

                            </div>

                        </div>
                        <div class="row align-items-lg-start">


                            <div class="form-group col-lg-6">
                                <label asp-for="GiaGoc">
                                    Giá gốc
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <input type="number" asp-for="GiaGoc" class="form-control">
                                <span asp-validation-for="GiaGoc"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="GiaTien">
                                    Giá bán
                                    <label class="validation-summary-errors">*</label>
                                </label>
                                <input type="number" asp-for="GiaTien" class="form-control">
                                <span asp-validation-for="GiaTien"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>
                                Mô tả
                                <label class="validation-summary-errors">*</label>
                            </label>
                            <textarea class="form-control" rows="3" asp-for="MoTa"></textarea>
                            <script>
                                CKEDITOR.replace('MoTa');
                            </script>
                        </div>
                        @*<div class="form-group">
            <label>Thông số kĩ thuật  </label>

            <div id="czContainer">
                <div id="first">
                    <div class="recordset">
                        <input placeholder="Tên thuộc tính" class="form-group ml-2" type="text" id="attribute_1_name" name="attribute_1_name">

                        <input placeholder="Giá trị" class="form-group" type="text" id="attribute_1_value" name="attribute_1_value">
                    </div>
                </div>
            </div>
        </div>*@
                        <div class="form-group">
                            <div class="row">
                                @foreach (var item in DataAccess.ReadThongSo(ViewData["MaLoai"].ToString()))
                                {
                                    <div class="form-group col-lg-6">
                                        <label>
                                            @item.TenThongSo
                                            @*<label class="validation-summary-errors">*</label>*@

                                        </label>
                                        <input name="@item.MaThongSo" type="text" class="form-control">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AnhDaiDien">
                                Ảnh đại diện
                                <label class="validation-summary-errors">*</label>
                            </label>
                            <input onchange="loadFile(event)" type="file" asp-for="AnhDaiDien" accept="image/*" class="form-control">

                        </div>
                        <img id="output" />

                        <div>
                            <label>
                                Ảnh mô tả
                                <label class="validation-summary-errors">*</label>
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 ">
                                <input onchange="loadFile1(event)" type="file" accept="image/*" placeholder="Chọn file" name="productImages1">
                                <img id="output1" />
                            </div>
                            <div class="col-lg-4">
                                <input onchange="loadFile2(event)" type="file" accept="image/*" name="productImages2">
                                <img id="output2" />
                            </div>
                            <div class="col-lg-4">
                                <input onchange="loadFile3(event)" type="file" accept="image/*" name="productImages3">
                                <img id="output3" />
                            </div>
                        </div>

                        <br />

                        <button type="submit" name="submit" class="btn btn-success  btn-block p-2">Thêm</button>
                    </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/Admin/js/jquery.czMore-1.5.3.2.js"></script>
    <script>
        $("#czContainer").czMore({

            // maximum number of form fields allowed
            max: 5,

            // minimum number of form fields allowed
            min: 0,

            // uses your own CSS styles
            styleOverride: false,

            // change the prefix name of the text field
            countFieldPrefix: '_czMore_txtCount'

        });

        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
           
        };


        var loadFile1 = function (event) {
            var image = document.getElementById('output1');
            image.src = URL.createObjectURL(event.target.files[0]);
            image.style = "width: 150px; height:150px;"
        };
        var loadFile2 = function (event) {
            var image = document.getElementById('output2');
            image.src = URL.createObjectURL(event.target.files[0]);
            image.style = "width: 150px; height:150px;"
        };
        var loadFile3 = function (event) {
            var image = document.getElementById('output3');
            image.src = URL.createObjectURL(event.target.files[0]);
            image.style = "width: 150px; height:150px;"
        };
        function changeType() {
            document.getElementById("textType").value = document.getElementById("typeSelection").value;
        }

    </script>
</body>


