@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemKhuyenMai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var context = new ClientDbContext();
    var dataAccess = new DataAccess();
}
@model Voucher
<style>

    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }

    .img {
        padding-top: 5px;
    }
</style>
<body>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading primary">
                Thêm khuyến mãi
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" role="form" asp-action="ThemKhuyenMai" asp-controller="Admin" method="post">

                    @*<div class="checkbox">
                            <label>
                                <input disabled type="checkbox" asp-for="@Model." />Sản phẩm mới
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input disabled type="checkbox" asp-for="@Model.Ishot" />Sản phẩm nổi bật
                            </label>
                        </div>*@
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.VoucherCode">Mã khuyến mãi </label>
                            <input class="form-control" asp-for="@Model.VoucherCode" />
                            <span asp-validation-for="@Model.VoucherCode"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.VoucherName">Tên khuyến mãi </label>
                            <input class="form-control" asp-for="@Model.VoucherName" />
                            <span asp-validation-for="@Model.VoucherName"></span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.VoucherType">Loại khuyến mãi </label>
                            <select class="form-control" asp-for="@Model.VoucherType" asp-items="@(new SelectList(context.VoucherType.ToList(),"VoucherTypeId","VoucherTypeName"))">
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.VoucherDiscount">Giá trị</label>
                            <input class="form-control" asp-for="@Model.VoucherDiscount" />
                            <span asp-validation-for="@Model.VoucherDiscount"></span>
                        </div>
                    </div>

                    <br />
                    <button type="submit" name="submit" class="btn btn-success  btn-block p-2">Thêm</button>
                </form>

            </div>
        </div>


</body>